<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fritter</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   
      
      <ul class="nav navbar-nav navbar-right">

        <% if(loggedIn){%>
         <li><a href="/users/home">Home</a></li>
         <li><a href="/users/feed">Feed</a></li>
        <li><a href="#"><%= username %></a></li>
        <li><a href="/users/logout">Log Out</a></li>
        <%} else {%>
        <li><a href="/users">Log In</a></li>
        <li><a href="/users/register">Sign Up</a></li>
        <%}%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>