<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header %>
</head>
<body style="background-color: #EEE;">

 <% include ./partials/nav %>

 
 <div class="main_container container">
   <div class="row">
     <%- body%>
   </div>
 </div>
 

  
  <% include ./partials/defaultjs %>
</body>
</html>
