<div class="panel panel-default">
			  <div class="panel-body">
			    <div class="row">
			    	
			    </div>
			    <div class="row">
			    <div class="col-md-12">
			    	<form action ='/tweets/' class="form-group" method="post"> 
						<br>

							<textarea rows="3" cols="50" class="form-control" wrap="physical" name="tweet"></textarea>

						
						<div>
							
							<div class="row">
							<div class="col-md-6">
								
							</div>
							<div class="col-md-6">
								<ul class = "tweet_actions pull-right" style="background-color: white">

									<li >
										<input type = "submit" class = "btn btn-default" value = "Tweet"> 
									</li>
								</ul>
							</div>
								
							</div>
								
						</div>
					</form>
			    </div>
			    	
			    </div>

			  </div>
			</div>